
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url('../imagens/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
}

#conteiner_do_logo {
    width: fit-content;
    height: fit-content;
    min-width: 5vw;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

#header_nav p a {
    margin-left: 1vw;
    text-decoration: none;
    color: #eb0c44;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}



.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0px);
    z-index: -1;
    transition: backdrop-filter 0.3s ease;
}

.blur-overlay.active {
    backdrop-filter: blur(10px);
}

.conteiner_exterior {
    width: 90vw;
    height: fit-content;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    flex-direction: row;
    border-radius: 35px;
    margin-top: 15vh;
}

.conteiner_interior {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 35%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #eb0c44;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #243444;

}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: dimgray;
}

img {
    max-width: 100%;
    height: auto;
}


.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #eb0c44;
    margin-right: 1vw;
    margin-left: 1vw;
}

@media (max-width: 320px){
    h1{
        font-size: 5vw;
    }
    p{
        font-size: 4vw;
    }
}

@media (max-width: 860px) {
    .conteiner_exterior {
        flex-direction: column;
        margin-top: 20vh;
    }
    .conteiner_interior {
        max-width: 100%;
    }
}


@media (max-width: 1190px) {
    .menu-toggle {
        display: block;
    }

    #header_nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(242, 255, 255);
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 2000;
        margin-left: 0;
    }

    #header_nav.active {
        display: flex;
    }

    #header_nav p {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    #sair {
        display: none; 
    }

    #header_nav.active #sair {
        display: block; 
    }
}



.menu-item {
    display: none;
}

#header_nav.active .menu-item {
    display: block;
}

.borda_arredondada{
    border-radius: 35px;
}



.botão{
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    background-color: #eb0c44;
    padding: 0.2vw;
}